.container {
 width: 700px;
 height: 500px;
 background-color: rgb(231, 232, 226);
 margin: 0 auto;
}
.satu {
 background-color: #4286f4;
 left: 0px;
 top: 0px;
 position: static;
}
.dua {
 background-color: #26c115;
}
.tiga {
 background-color: #c11534;
}

.satu,
.dua,
.tiga {
 width: 150px;
 height: 150px;
 font-size: 25px;
 text-align: center;
}
