body {
  background-image: radial-gradient(circle at top right, white, red );
}
div {
  width: 400px;
  height: 200px;
  border: 2px solid black;
  float: left;
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.satu {
  background-image: radial-gradient(circle at 100% 50%, white, blue);
}

.dua {
  background-image: radial-gradient(ellipse at 100% 50%, orange, blue);
}
.tiga {
  background-image: radial-gradient(circle at 100% 100%, violet, blue);
}
.empat {
  background-image: radial-gradient(circle at top right, orange, blue);
}

/* circle */
.satu1 {
  background-image: radial-gradient(circle 50px, orange, blue);
}

.dua2 {
  background-image: radial-gradient(circle 100px, orange, blue);
}
.tiga3 {
  background-image: radial-gradient(farthest-side circle, blue, violet, blue, blue, violet, blue);
}
.empat4 {
  background-image: radial-gradient(farthest-side circle at 10% 60%, blue, violet, blue);
}
