body {
  background-image: url("Stupa_Borobudur.jpg");
  background-size: cover;
}

div {
  width: 520px;
  height: 370px;
  border: 2px solid red;
  margin: 0 auto;
  background-image: url("avocado.jpg");
  background-repeat: repeat;
  background-size: 185px;
}
.justify {
  color: blue;
}
.repeat {
  background-repeat: repeat-x;
}
