@font-face {
  font-family: "poppins";
  src :url("../font/Poppins-Light.otf");
}
header {
  background-color: #353535;
}

ul, li {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  display: inline-table;
}

a {
  text-decoration: none;
  font-family: "poppins";
}
a:visited {
  color: white;
}

a:active {
  color: white;
}

a:link {
  color: white;
}

.card {
  background-image:
  linear-gradient(to right , #98c1d9, #e0fbfc);
  padding: 10px;
}

.slider-img {
  margin: 0 auto;
  width: 100%;
}

.p-text {
  text-align: justify;
  font-size: 12px;
  column-fill: balance;
  column-count: 4;
  column-rule: 2px solid black;
  column-gap: 15px;
}

.image {
  float: left;
  width: 150px;
  margin: 20px;
}

.footer {
  background-color: #0b090a;
  height: 40px;
  color: white;
  text-align: center;
}
