body {
  background-image: url("blue_sky.jpg");
  background-size: cover;
}

.satu {
  width: 450px;
  height: 250px;
  border: 1px solid black;
  background-color: white;
  background-image: url("avocado.jpg");
  background-repeat: repeat-y;
  overflow: scroll;
  background-attachment: fixed;
}

p {
  text-align: right;
  color: blue;
  font-weight: bold;
}

.dua {
  text-align: left;
  color: blue;
}

.tiga {
  text-align: center;
  color: red;
}
